@import "variables.scss";

#comunicado {
  position:absolute;
  top: 0;
  bottom: 0;
  z-index: 160;
  width: 100%;
  display: none;
}

.header-comunicado {
  background-color: black;

  .comunicado-fechar {
    padding-left: 11px;
    padding-top: 4px;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    cursor: pointer;
    text-align: left;
  }

  .header-icon-4 {
    top: 9px;
  }

  .header-title {
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
    span {
      color: white;
      text-transform: uppercase;
      line-height: 14px;
      letter-spacing: 2px;
      position: relative;
      top: 1px;
    }
  }
}

.corpo-comunicado {
  font-size: 14px;
  line-height: 20px;

  p {
    padding-bottom: 3px;
    padding-top: 3px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 20px;
    display: block;

    &.linha {
      border-bottom: 1px solid $am1;
      margin-left: 20px;
      padding-left: 0;
      margin-bottom: 0;
      padding-bottom: 5px;
    }

    img {
      margin: 0 -20px;
    }
  }

  img {  
    width: 100vw;
    max-width: $maxwidth;
    min-width: $minwidth;
    display:block;
  }

  .linha-esquerda {
    margin-left: 20px;
    border-left: 1px solid $am1;
    margin-top: -5px;
    margin-bottom: -5px;

    p {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 40px;
      padding-left: 13px;
    }
  }

  .comunicado-titulo {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0 20px;
  }

  .comunicado-subtitulo {
    text-align: center;
    padding: 0 5px;
  }

  .comunicado-conheca {
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .subtitulo {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #E3E3E3;
    font-weight: bold;
    font-size: 15px;
    color: #656565;
  }

  iframe {
    width: 100vw;
    height: calc(100vw/1.77);
    max-width: $maxwidth;
    min-width: $minwidth;
    max-height: $maxvideoheight;
    min-height: $minvideoheight;
    display: block;
  }

  .comunicado-avaliacao {
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    margin-top: 20px;

    .avaliacao {
      .avaliacao-texto {
        font-size: 11px;
        top: -4px;
      }

      .rateit {
        .rateit-range, .rateit-hover, .rateit-selected, .rateit-preset {
          background-size: 17px 17px;
        }
      }
      
      .avaliacao-popup {
        .rateit-range, .rateit-hover, .rateit-selected, .rateit-preset {
          background-size: 30px 30px;
        }
      }
    }
  }
}


#footer-comunicado {
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:130;
  min-height:56px;
  box-shadow:0 0 6px 0 rgba(0,0,0,0.20);
  display: flex;
  align-items: center;
  padding: 0 22px;
  background: white;
  max-width: $maxwidth;
  min-width: $minwidth;
  margin: 0 auto;

  .acao-icone {
    margin-left: 12px;
  }
}