@import "variables.scss";

@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
     0        -#{$size} 0 $color,
     #{$size}  0        0 $color,
     0         #{$size} 0 $color,
    -#{$size}  0        0 $color;
}

@mixin fundo($class, $color) {
  #{$class} {
    span { background-color: $color; }
  }
  .editor-container .popup-texto textarea#{$class} {
    background: $color;
  }
}

#editor-popup {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 151;
  transition: all 0.3s;
  opacity: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  &.esconde {
    pointer-events: none;
    opacity: 0;
  }

  .estilo1 { font-size: 130%; line-height: 120%; font-weight: normal; }
  .estilo2 { font-size: 130%; line-height: 120%; font-weight: bold; }
  .estilo3 { font-size: 180%; line-height: 120%; font-weight: normal; }
  .estilo4 { font-size: 180%; line-height: 120%; font-weight: bold; }
  .estilo5 { font-size: 230%; line-height: 120%; font-weight: normal; }
  .estilo6 { font-size: 230%; line-height: 120%; font-weight: bold; }
  .estilo7 { font-size: 280%; line-height: 100%; font-weight: bold; }

  .cor1 { color: $am1!important }
  .cor2 { color: white!important }
  .cor3 { color: #222!important }
  .cor4 { color: #777!important }
  .cor5 { color: #ccc!important }
  .cor6 { color: #F97B14!important }
  .cor7 { color: #B11F8A!important }
  .cor8 { color: #F62D7A!important }
  .cor9 { color: #30DBD3!important }
  .cor10 { color: #093C88!important }

  @include fundo(".preench1", $am1);
  @include fundo(".preench2", #222);
  @include fundo(".preench3", white);
  @include fundo(".preench4", #777);
  @include fundo(".preench5", none);

  .editor-container {
    max-width: 56vh;
    width: 100vw;
    min-width: $minwidth;
    overflow: hidden;
    top: 0;
    bottom: 0;
    position: relative;
    @include height100vh;
    max-height: 178vw;
    z-index: 0;

    #editor-resultado {
      
      .overlay {
        position: absolute;
        background: black;
        opacity: 0.5;
        transition: opacity 0.3s;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
      }

      .over-preto, .over-branco {
        display: none;
      }

      .fundo {
        width: 100%;
      }

      .textos {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        pointer-events: none;
        font-size: 11px;

        @media (max-height: 840px) {
          font-size: 10px;
        }

        @media (max-height: 730px) {
          font-size: 9px;
        }

        @media (max-height: 590px) {
          font-size: 8px;
        }
        
        @media (max-height: 510px) {
          font-size: 7px;
        }

        .logo {
          background-size: contain;
          background-position: left top;
          background-repeat: no-repeat;
          position: absolute;
          top: 4%;
          width: 55%;
          height: 6%;
          left: 6%;
        }

        .texto {
          position: absolute;
          width: 90%;
          border: 1px solid transparent;
          font-family:'NouvelR', Tahoma, Geneva, Verdana, sans-serif;
          padding: 4px 7px;
          overflow: visible;
          border-radius: 5px;
          transition: border 0.5s;

          &.desligado {
            opacity: 0;
            pointer-events: none;
          }
        }

        .texto12 {
          position: absolute;
          width: 90%;
          top: 12%;
          left: 5%;
          padding: 0;
          white-space: normal;
        }

        .texto1, .texto2 {
          position: relative;
          width: 80%;
          margin: 10px 0;
          min-height: 70px;
        }

        .texto2 {
          width: 100%;
        }

        .texto3 {
          width: 60%;
          top: unset;
          bottom: 10%;
          height: 8%;
          left: 5%;
        }

        .textopost {
          display: none;
        }

        .estilo {
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          left: 0;
        }
      }
    }

    .titulo {
      color: white;
      font-family:'NouvelR', Tahoma, Geneva, Verdana, sans-serif;
      height: 45px;
      cursor: pointer;
      line-height: 45px;
      font-size: 12px;
      background: no-repeat 3px center / 25px;
      padding-left: 40px;

      &.texto { background-image: url('../images/editoricotext.svg?v=2'); background-size: 30px; background-position: 0 47%; }
      &.estilos { background-image: url('../images/editoricoestilo.svg?v=2') }
      &.logo { background-image: url('../images/editoricologo.svg?v=2') }
    }

    .editor-pagina {
      transition: opacity 0.5s;
      position: absolute;
      z-index: 5;
      width: 100%;
      text-align: center;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
    }

    .editor-home {
      opacity: 1;
      pointer-events: all;
      padding-top: 14%;

      .editor-fecha {
        position: absolute;
        top: 17px;
        right: 0;
        width: 47px;
        height: 47px;
        background: url('../images/fechar.svg?v=2') no-repeat center;
        cursor: pointer;
      }

      .busca {
        height: 40px;
        border: 1px solid white;
        border-radius: 20px;
        width: 60%;
        margin: 0 auto;
        background: no-repeat 20px / 17px url('../images/lupaw.svg?v=2');

        input {
          background: none;
          color: white;
          font-size: 16px;
          font-weight: bold;
          line-height: 36px;
          padding-left: 25px;
          text-align: center;
          font-family:'NouvelR', Tahoma, Geneva, Verdana, sans-serif;

          &::placeholder {
            color: white;
          }

          &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            color: white;
            cursor: pointer;
            background: no-repeat center / contain url('../images/fechar.svg?v=2');
          }
        }
      }

      .tags {
        margin: 15px auto;
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .tag {
          background: #ffffff40;
          border: 1px solid white;
          border-radius: 4px;
          display: inline-block;
          color: white;
          font-size: 11px;
          line-height: 10px;
          padding: 4px 10px;
          margin: 3px;
          cursor: pointer;
        }
      }

      .funcoes {
        text-align: left;
        position: absolute;
        margin-left: 50px;
        top: 35%;

        .funcao {
          min-width: 120px;
        }
      }

      .editor-rodape {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .compartilhar {
          width: unset;
          padding: 3px 22px;
          font-size: 11px;
          position: relative;
          box-shadow: 2px 4px 10px 0 #BA9C0077;
          margin-bottom: 20px;
        }

        .baixar {
          color: white;
          font-size: 9px;
          margin: 4px 0 20px 0;
          padding-left: 20px;
          background: no-repeat 0 center / 13px url('../images/acaodownloadb.svg?v=2');
          cursor: pointer;
        }

        .templates {
          display: flex;
          flex-flow: row nowrap;
          margin: 0 auto 20px auto;
          max-width: 100%;
          padding: 0 10px;
          justify-content: left;

          .template {
            border-radius: 15px;
            min-width: 65px;
            height: 65px;
            background: no-repeat center 80% / cover;
            margin: 0 0px;
            cursor: pointer;
            transform: scale(0.8);
            transition: all 0.2s;
            border: 1px solid #ffffff00;

            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              border-radius: 15px;
              border: 2px solid black;
              opacity: 0;
              transition: opacity 0.5s;
            }

            &.selected, &:hover {
              position: relative;
              transform: none;
            }

            &.selected {
              border: 1px solid white;

              &:after {
                opacity: 1;
              }
            }
          }
        }
      }

      .editor-home-fundo {
        position: absolute;
        background: red;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
      }
    }

    .editor-texto, .editor-estilos, .editor-logo, .popup-texto {
      text-align: center;

      .retornar, .retornar-popup {
        position: absolute;
        top: 17px;
        right: 0;
        width: 73px;
        height: 47px;
        background: url('../images/editorretornar.svg?v=2') no-repeat center / 23px;
        cursor: pointer;
        filter: drop-shadow(0 0 1px #00000090);
        z-index: 1;
      }

      .titulo {
        display: inline-block;
        margin-top: 20px;
      }
      
      .salvar {
        position: absolute;
        bottom: 25px;
        display: inline-block;
        white-space: nowrap;
        left: 0;
        right: 0;
        width: 130px;
        height: 34px;
        margin: 0 auto;
        padding: 5px 40px 5px 20px;
        font-size: 17px;
        box-shadow: 2px 4px 10px 0 #BA9C0077;
        
        &:after {
          content: '';
          width: 15px;
          height: 15px;
          position: absolute;
          right: 24px;
          top: 10px;
          background: no-repeat center / contain url('../images/editorcheck.svg?v=2');
        }

        &.salvar-check {
          padding: 10px 20px;
          width: 100px;
          height: 45px;

          &:after {
            width: 20px;
            height: 20px;
            right: 39px;
            top: 12px;
          }
        }
      }

      .imagens {
        flex-flow: column wrap;
        align-items: center;
        max-height: 90vh;
        overflow-y: auto;
        margin-top: 30px;

        div {
          display: inline-block;
          border-radius: 10px;
          margin: 1%;
          width: 40%;
          padding-bottom: 40%;
          cursor: pointer;
          position: relative;
          background: #1E1E1E no-repeat center / 80%;

          &.remover {
            background: #1E1E1E no-repeat center 40% / 30% url("../images/editorlinhax.svg?v=2");
          }

          .legenda {
            position: absolute;
            background: none;
            top: 70%;
            width: 100%;
            left: 0;
            right: 0;
            color: white;
            pointer-events: none;
            font-size: 10px;
            
          }
        }
      }
    }

    .editor-texto {
    }

    .editor-estilos {
    }

    .editor-logo {
      background: #444;

      .logoupload {
        display: none;
      }

      .upload {
        width: 70%;
        margin: 30px auto;
        padding: 5% 25% 5% 7%;
        position: relative;
        font-size: 16px;
        box-shadow: 2px 4px 10px 0 #BA9C0077;

        &:after {
          position: absolute;
          content: '';
          top: 25%;
          left: 40%;
          width: 70%;
          height: 45%;
          background: center / contain no-repeat url("../images/editorupload.svg?v=2");
        }
      }
    }

    .popup-texto {
      background: #444;
      z-index: 6;
      opacity: 1;
      pointer-events: all;
      font-size: 10px;
      width: 100vw;
      position: fixed;

      .titulo {
        margin-top: 0;
        margin-bottom: -10px;
      }

      .ferramentas {        
        .ferramenta {
          opacity: 0.3;
          transition: opacity 0.5s;
          color: white;
          font-size: 8px;
          max-width: 90px;
          width: 30%;
          display: inline-block;
          background: no-repeat center / 20px;
          padding-top: 45px;
         
          &.ativo { opacity: 1 }

          &.estilo { background-image: url('../images/editortextoestilo.svg?v=2') }
          &.cor { background-image: url('../images/editortextocor.svg?v=2') }
          &.preenchimento { background-image: url('../images/editortextopreench.svg?v=2'); background-size: 11px; }
        }
      }

      .seletores {
        .seletor {
          position: absolute;
          text-align: center;
          right: 0;
          left: 0;
          margin-top: 15px;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.5s;

          &.visivel {
            opacity: 1;
            pointer-events: all;
          }
        }

        .estilos {
          .estilo {
            color: white;
          }
        }

        .opcao {
          width: 24px;
          height: 24px;
          border-radius: 3px;
          border: 1px solid #777;
          display: inline-block;
          margin: 0 1px;
          cursor: pointer;

          &.ativo {
            border: 1px solid white;
            box-shadow: 0 0 3px 0 #fff;
          }
        }

        .estilo {
          width: 24px;
          height: 24px;
          line-height: 24px;
          overflow: hidden;
        }

        .estilo1, .estilo2 { font-size: 10px; }
        .estilo3, .estilo4 { font-size: 13px; }
        .estilo5, .estilo6 { font-size: 15px; }
        .estilo7 { font-size: 18px; }

        .cor1 { background-color: $am1 }
        .cor2 { background-color: white }
        .cor3 { background-color: #222 }
        .cor4 { background-color: #777 }
        .cor5 { background-color: #ccc }
        .cor6 { background-color: #F97B14 }
        .cor7 { background-color: #B11F8A }
        .cor8 { background-color: #F62D7A }
        .cor9 { background-color: #30DBD3 }
        .cor10 {background-color: #093C88 }
      
      
        .preench1 { background-color: $am1 }
        .preench2 { background-color: #222 }
        .preench3 { background-color: white }
        .preench4 { background-color: #777 }
        .preench5 { background: no-repeat center / cover url('../images/editorlinha.svg?v=2');  }
      }

      textarea {
        width: calc(100% - 40px);
        height: 200px;
        padding: 10px 10px;
        position: absolute;
        max-width: 400px;
        margin: 0 auto;
        background: none;
        left: 0;
        right: 0;
        top: 195px;
        font-family:'NouvelR', Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .editor-popup-compartilhar {
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00000060;
      backdrop-filter: blur(3px);
      z-index: 10;

      .epc-caixa {
        position: relative;
        border-radius: 10px;
        background: white;
        border: 1px solid black;
        padding: 40px 70px 25px 70px;
        width: 350px;
        min-height: 160px;
        max-width: 85vw;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 10px #00000090;
      }

      .epc-fechar {
        position: absolute;
        right: 12px;
        top: 10px;
        width: 16px;
        height: 16px;
        background: no-repeat center / cover url('../images/linkfechar.svg?v=2');
        cursor: pointer;
        border: 1px solid #777;
        border-radius: 100%;
      }

      .epc-url {
        border: 1px solid #999;
        padding: 5px 12px;
        border-radius: 6px;
        color: #333;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 18px;
        max-width: 80vw;
        overflow: hidden;
      }

      .epc-carregando {
        display: none;
      }

      .epc-compartilhar {
        padding: 4px 14px;
        width: 130px;
        height: 32px;
        font-size: 14px;
      }

      .epc-baixar {
        margin-top: 10px;
        padding-left: 20px;
        background: no-repeat 33px 10px / 13px url('../images/acaodownload.svg?v=2');
        cursor: pointer;
        border: 1px solid #777;
        border-radius: 6px;
        width: 130px;
        height: 32px;
        line-height: 30px;
        text-align: center;
      }

      &.carregando {
        .epc-carregando { display: block }
        .epc-url, .epc-compartilhar, .epc-baixar { display: none }
      }
    }
  }

  #editor-linkdownload {
    display:none;
  }

  &.renderizando-texto {
    #editor-resultado {
      .overlay {
        opacity: 0;
      }
    }
  }

  &.editando-texto, &.preview {
    .editor-home {
      opacity: 0;
      pointer-events: none;
    }

    #editor-resultado {
      .overlay {
        opacity: 0;
      }

      .fundo {
        opacity: 0.6;
      }

      .textos {
        z-index: 3;
      }
    }
  }

  &.preview {
    #editor-resultado .fundo {
      opacity: 1;
    }
  }

  &.editando-texto {
    .editor-texto {
      opacity: 1;
      z-index: 4;

      > * {
        pointer-events: all;
      }
    }
    
    #editor-resultado {
      .textos {
        .estilo, .logo {
          opacity: 0.15;
        }
        
        .texto {
          border: 1px solid #777;
          pointer-events: all;
        }
      }
    }
  }

  &.editando-estilos {
    .editor-home {
      opacity: 0;
      pointer-events: none;
    }

    .editor-estilos {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.editando-logo {
    .editor-home {
      opacity: 0;
      pointer-events: none;
    }

    .editor-logo {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.editor-template {
    #editor-resultado {
      .textopost {
        display: none;
      }
    }
  }

  &.editor-post {

    .editor-busca, .editor-rodape .templates {
      display: none;
    }
    
    #editor-resultado {
      height: 100%;

      .texto1, .texto2, .texto3 {
        display: none;
      }

      .textos .textopost {
        display: block;
        width: 90%;
        top: unset;
        bottom: 15%;
        height: 25%;
        left: 5%;
        text-align: center;
      }

      .fundo-branco {
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;
        position: relative;
      }

      .fundo-cont {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        max-height: 60%;
        overflow: hidden;
      }

      .over-preto, .over-branco {
        display: block;
        position: absolute;
        left: 0;        
        width: 100%;
        z-index: 1;
      }

      .over-preto {
        top: 0;
        height: 40px;
      }

      .over-branco {
        bottom: 0;
        height: 120px;
      }

      .fundo {
        position: relative;
      }
    }
  }
}