@import "variables.scss";

.login-fundo {
	background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100vw;
  max-width: $maxwidth;
  min-width: $minwidth;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 150px);

  @media(max-height: 985px) {
    height: calc(100vh - 100px);
    background-size: cover;
    background-position-y: 0;
    max-height: 830px; // minwidth * proporcao imagem
  }

  @media(max-height: 700px) {
    background-position-y: 20%;
  }
}

.login-header {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  max-width: $maxwidth;
  min-width: $minwidth;
  margin: 0 auto;

  .login-header-esq {
    position: absolute;
    left: 37px;
    top: 63px;
    font-size: 18px;
    letter-spacing: 2px;

  }
  .login-header-dir {
    position: absolute;
    right: 19px;
    top: 28px;
    width: 72px;
    height: 95px;
  }

  @media(max-height: 650px) {
    .login-header-esq {
      left: 27px;
      top: 44px;
      font-size: 18px;
      letter-spacing: 2px;
  
    }
    .login-header-dir {
      right: 19px;
      top: 18px;
      width: 58px;
      height: 76px;
    }
  }
}

.login-form {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 13px 17px 80px 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: $maxwidth;
  min-width: $minwidth;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.22);
  max-height: auto;

  @media(max-height: 650px) {
    padding-bottom: 30px;
  }
}

.login-titulo {
  font-size: 20px;
  font-weight: bold;
}

.login-subtitulo {
  font-size: 16px;
  line-height: 21px;
  color: #656565;

  em {
    font-weight: bold;
    display: block;
  }  
}

.login-texto {
  color: #9A9A9A;
  font-size: 14px;
  line-height: 18px;
  padding-right: 10px;

  p {
    margin: 3px 0;
  }
}

.login-sucesso {
  color: #9A9A9A;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 17px;
  padding-left: 39px;
  border-bottom: 1px solid #E3E3E3;
  position: relative;
  width: 100%;

  em {
    font-weight: bold;
    font-size: 16px;
    color: #707070;
  }

  b {
    color: #9A9A9A;
    font-size: 20px;
    font-style: italic;
    line-height: 42px;
  }

  &:after {
    content: ' ';
    width: 33px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -2px;
    background: url('../images/sucesso.svg?v=2') center no-repeat;
  }
}

.login-link-esqueceu {
  color: $am1;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.login-botao {
  box-shadow: 0px 5px 10px 0 rgba(186, 156, 0, 0.5);
}

.login-link-cadastro {
  color: #9a9a9a;
  font-size: 11px;
  margin: 0 auto;
  margin-top: 3px;

  &:hover {
    text-decoration: underline;
  }
}

.login-link-assinatura {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 9px;
  color: #656565;
  margin: 0 auto;
  margin-bottom: 6px;
  text-align: center;

  @media(max-height: 650px) {
    margin-bottom: 4px;
  }
}

.box-rodape {
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  color: #888;
  font-weight: normal;
  display: block;
}