.login-fundo {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100vw;
  max-width: 1000px;
  min-width: 320px;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

.login-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
}

.login-header .login-header-esq {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 2;
}

.login-header-cnt {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: white;
  line-height: 1;
}

.login-form {
  padding: 30px 50px 40px 50px;
  position: absolute;
  top: 75px;
  left: 15px;
  right: 15px;
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.4);
  max-height: auto;
  backdrop-filter:  blur(30px);
}

.login-titulo {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  width: 100%;
}

.titulo-white {
  color: white;
}

.login-subtitulo {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.login-subtitulo em {
  font-weight: bold;
  display: block;
}

.login-texto {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  padding-right: 10px;
}

.login-texto p {
  margin: 3px 0;
}
.info-outside {
    position: absolute;
    left: 15px;
    bottom: 5px;
    width: calc(100% - 30px);
    line-height: 1;
    font-size: 11px;
    color: white;
    display: none;
}
.info-outside a {
  font-weight: bold;
  color: white;
}
.info-outside a:hover {
  text-decoration: underline;
}
.info-outside.on {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.info-outside.final.on {
  display: block;
  padding-bottom: 0;
}

.login-sucesso {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 17px;
  position: relative;
  width: 100%;
  text-align: center;
}

.login-sucesso em {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.login-sucesso b {
  color: #000000;
  font-size: 20px;
  font-style: italic;
  line-height: 42px;
}

.login-link-esqueceu {
  color: black;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.login-link-esqueceu:hover {
  text-decoration: underline;
}

/*.login-botao { 
  margin-top: 20px;
}*/

.login-link-assinatura {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 9px;
  color: white;
  margin: 0 auto;
  margin-bottom: 6px;
  text-align: center;
}

.login-divisoria {
  width: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.login-divisoria span {
  padding: 0 30px;
}
.login-divisoria:before {
  content: '';
  flex: 1;
  height: 1px;
  background: white;
  margin-top: 2px;
}
.login-divisoria:after {
  content: '';
  flex: 1;
  height: 1px;
  background: white;
  margin-top: 2px;
}

.login-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hld-bts {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.hld-bts a {
  width: 48%;
}

.status {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -5px;
  margin-top: 20px;
}

.status .bull {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  border: solid 1px black;
}
.status .bull.fill {
  background: black;
}

.step {
  display: none;
}
.step.on {
  display: block;
}

.box-rodape {
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  color: #888;
  font-weight: normal;
  display: block;
}

@media (min-width: 992px) {
  .login-header-cnt {
    height: 150px;
  }
}
@media (max-height: 650px) {
  .login-header .login-header-dir {
    right: 19px;
    top: 18px;
    width: 58px;
    height: 76px;
  }

  .login-form {
    padding-bottom: 30px;
  }

  .login-link-assinatura {
    margin-bottom: 4px;
  }
}

@media (max-width: 468px) {
  .login-form {
    padding: 15px 30px;
  }
}


/*.video-entrar { display: none; }*/
@media (min-width: 992px) {
/*  .holder-content.video { position: relative; width: 100%; transform: translate(75%); }*/

  .video-entrar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: calc(-100% - 135px);
    top: 0;
    object-fit: contain;
    text-align: right;
    display: none;
  }

  .video-entrar {
    display: block;
  }
  .video-entrar video {
    position: relative;
    height: 100%;
  }

  .video-entrar .bt-login {
    display: none;
  }
}


.video-entrar .hld {
  height: 100%;
}

@media (max-width: 992px) {
  #form-entrar { display: none; }
  .login-form {
    background: none;
    padding: 0;
    backdrop-filter: none;
    top: 200px;
  }

  .video-entrar {
    height: 50vh;
    object-fit: contain;
    text-align: center;
  }

  .video-entrar .hld {
    display: inline-block;
  }
  .video-entrar video {
    height: 80%;
  }

  .bt-login {
    margin-top: 18px;
  }
  .bt-login a {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border: solid 1px #FFFFFF;
    font-size: 18px;
    color: #FFFFFF;
  }

  .login-header.mobile { display:none; }
  .login-header.desktop { display:block; }
  .login-header-cnt { height: 150px; }

  .openForm #form-entrar { display: block; }
  .openForm .video-entrar { display: none; }
  .openForm .login-form { backdrop-filter: blur(30px); background-color: rgba(255,255,255,0.4); padding: 30px 50px; top: 75px; }

  .openForm .login-header.mobile { display:block; }
  .openForm .login-header.desktop { display:none; }
  .openForm .login-header-cnt { height: 32px; }
}

#botao-input-cadastro { display: none; }
#botao-input-cadastro.on { display: flex; justify-content: center; }

.login-link-proximo { display: none; }
.login-link-proximo.on { display: flex; }

.login-back { display: none; }
.login-back.on { display: flex; }

.login-voltar { display: none; }
.login-voltar.on { display: flex; }

.txt-cadastro { position: absolute; bottom: 1px; width: 300px; }
.txt-cadastro a { color: white; text-align: center; width: 100%; }