.header-logo{background-size:28px 28px; width:50px;}
.footer .footer-logo{background-size:80px 80px;	height:80px!important; margin-bottom:20px!important;}

.theme-light .header .header-logo{background-image:url(../images/preload-logo.png?v=2);}
.theme-light .menu .nav-logo{background-image:url(../images/preload-logo.png?v=2);}
.theme-light .footer .footer-logo{background-image:url(../images/preload-logo.png?v=2);}

.theme-dark .header .header-logo{background-image:url(../images/preload-logo.png?v=2);}
.theme-dark .menu .nav-logo{background-image:url(../images/preload-logo.png?v=2);}
.theme-dark .footer .footer-logo{background-image:url(../images/preload-logo.png?v=2);}

.page-title-large a{background-image:url(../images/avatars/5s.png?v=2);}
.page-title-small a{background-image:url(../images/avatars/5s.png?v=2);}
.menu-header a{background-image:url(../images/avatars/5s.png?v=2);}
